
.links a {
    text-decoration: none;
    color: #008D96;
    border: 1px solid #008D96;
    border-radius: 7px;
    padding: 5px 13px;
    margin-right: 15px;
}
.kurslar{
    text-align: center;
    height: 100px;
    background-color: #008D96;
    color: white;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.container5 .links {
text-align: center;
margin-top: 20px;
}
.container5 .card1 {
    height: 280px;
    width: 240px;
 border: 1px solid white;
    border-radius: 10px;
    margin-top: 40px;
   background-color: white;
}
.container5 img {
    padding:  10px 30px;
    width: 220px;
    border-radius: 15px;
}

.container5 .cards .card1{
    background-color: blanchedalmond;
}